html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #131517;
  font-family: Sora, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  height: 7007px;
  background: #131517;
}

.header__top {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  height: 40px;
  background-color: #131517;
}
.header__top .header__action {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
.header__top .header__logo {
  width: 10%;
  text-align: center;
}
.header__top .header__navigation {
  display: flex;
  justify-content: center;
  gap: 36px;
  height: 24px;
  background-color: #131517;
}
.header__top .header__navigation .nav-item {
  color: #858b93;
  margin-top: 10px;
}
.header__top .header__navigation .nav-item:nth-child(1) {
  position: relative;
  color: #f9f9f9;
}
.header__top .header__navigation .nav-item:nth-child(1)::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 15px;
  width: 15px;
  height: 1px;
  background: #83e868;
}
.header__top .header__btn button {
  cursor: pointer;
  padding: 8px 27px;
  font-weight: 400;
  line-height: 2.4rem;
  border: 1px solid #272633;
  border-radius: 8px;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__title {
  margin: 150px 180px 0px;
  background: #131517;
}
.header__title h1 {
  color: #f9f9f9;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
}
.header__title strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__sub {
  margin-top: 34px;
}
.header__sub p {
  color: #858b93;
  text-align: center;
  font-weight: 400;
  line-height: 2.6rem;
}

.header__info {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 54px;
  margin-top: 44px;
  background: #131517;
}
.header__info .info-btn.action button {
  box-shadow: none;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}
.header__info .info-btn button {
  cursor: pointer;
  box-shadow: 1px 8px 45px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  padding: 15px 38px;
  border: 1px;
  border-radius: 8px;
  background: #282b2e;
  color: #f9f9f9;
  font-weight: 400;
  line-height: 2.6rem;
}

.header__bottom {
  position: relative;
  margin-top: 111px;
  height: 512px;
  border-radius: 8px 8px 0px 0px;
  background: #131517;
}
.header__bottom .bottom-dashboard {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 366px;
  background: #1f2326;
}
.header__bottom .bottom-dashboard .dashboard-main {
  width: 75%;
  position: relative;
  margin-top: 28px;
  height: 338px;
  background: #0d1012;
}
.header__bottom .bottom-dashboard .dashboard-top {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  height: 22px;
}
.header__bottom .bottom-dashboard .dashboard-top .top-start {
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 22px;
}
.header__bottom .bottom-dashboard .dashboard-top .top-start p {
  color: #f9f9f9;
  font-size: 1.4rem;
}
.header__bottom .bottom-dashboard .dashboard-top .top-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 20px;
}
.header__bottom .bottom-dashboard .dashboard-top .top-end img:nth-child(1) {
  width: 10px;
  height: 2px;
}
.header__bottom .bottom-dashboard .dashboard-subtop {
  display: flex;
  gap: 60px;
  margin-top: 20px;
  justify-content: center;
  height: 20px;
}
.header__bottom .bottom-dashboard .dashboard-subtop .subtop-start {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  gap: 8px;
  height: 15px;
  font-size: 1.2rem;
  color: #838386;
}
.header__bottom .bottom-dashboard .dashboard-subtop .subtop-end {
  font-size: 1.4rem;
  color: #f9f9f9;
  height: 18px;
}
.header__bottom .bottom-dashboard .dashboard-content {
  display: flex;
  position: relative;
  left: 3%;
  margin-top: 9px;
  height: 230px;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 362px;
  height: 30px;
  background-color: #14181b;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item img {
  width: 10%;
  height: 14px;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item .li-content {
  height: 17px;
  margin-top: 8px;
  font-weight: 300;
  font-size: 1rem;
  color: #9ea1a7;
}
.header__bottom .bottom-dashboard .dashboard-content .content-image {
  position: relative;
  display: flex;
  margin: 1px 0px 11px 53px;
  border-radius: 17px;
  width: 167px;
  height: 218px;
  background: #08cc12;
}
.header__bottom .bottom-dashboard .dashboard-content .content-image img:nth-child(2) {
  position: absolute;
  margin: 90px 65px;
  width: 37px;
  height: 37px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar {
  margin-top: 18px;
  height: 132px;
  background: #1f2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  width: 130px;
  height: 20px;
  background: #1f2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top img {
  width: 10px;
  height: 10px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top p {
  text-align: center;
  color: #98989c;
  font-size: 1.4rem;
  width: 80px;
  height: 18px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-title {
  color: #f9f9f9;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 16px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 192px;
  height: 39px;
  background: #2b2d2f;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body span {
  display: inline-block;
  border-radius: 5px;
  margin-left: 16px;
  width: 17px;
  height: 17px;
  background: #ae8ff9;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body p {
  margin-top: 5px;
  margin-left: 12px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #d5d5d6;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom {
  display: flex;
  align-items: center;
  width: 192px;
  height: 39px;
  background: #1f2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom span {
  display: inline-block;
  border-radius: 5px;
  margin-left: 16px;
  width: 17px;
  height: 17px;
  background: #ff7667;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom p {
  margin-top: 5px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.6;
  color: #858b93;
}
.header__bottom .bottom-collection {
  position: absolute;
  padding: 0 10px;
  bottom: 0;
  left: 15%;
  border-radius: 15px 15px 22px 22px;
  height: 335px;
  background: #0d1012;
}
.header__bottom .bottom-collection .collection-title {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 20px;
  background: #0d1012;
}
.header__bottom .bottom-collection .collection-title p {
  color: #f9f9f9;
  font-size: 1.4rem;
  height: 18px;
}
.header__bottom .bottom-collection .collection__content-top {
  margin-bottom: 7px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181b;
}
.header__bottom .bottom-collection .collection__content-top .top-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-top span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #ff7667;
}
.header__bottom .bottom-collection .collection__content-top .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-top .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-top .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858b93;
}
.header__bottom .bottom-collection .collection__content-top .top-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-top .top-process p {
  font-size: 1rem;
  color: #858b93;
  margin-left: 8px;
}
.header__bottom .bottom-collection .collection__content-body {
  margin-bottom: 7px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181b;
}
.header__bottom .bottom-collection .collection__content-body .body-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-body span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #ae8ff9;
}
.header__bottom .bottom-collection .collection__content-body .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-body .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-body .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858b93;
}
.header__bottom .bottom-collection .collection__content-body .body-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-body .body-process p {
  font-size: 1rem;
  color: #858b93;
  margin-left: 8px;
}
.header__bottom .bottom-collection .collection__content-bottom {
  margin-bottom: 7px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181b;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-bottom span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #0cce84;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858b93;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-process p {
  font-size: 1rem;
  color: #858b93;
  margin-left: 8px;
}

.service {
  width: 80%;
  margin: 140px auto 0;
  height: 331px;
  border-radius: 27px;
  background: #282c30;
  display: flex;
  justify-content: center;
}
.service .card__item {
  display: inline-block;
  margin-top: 70px;
  height: 207px;
  background: #282c30;
}
.service .card__item .card__item-icon {
  position: relative;
  display: flex;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  background: #282c30;
}
.service .card__item .card__item-icon img:nth-child(2) {
  position: absolute;
  display: inline-block;
  margin: 14px;
  width: 33px;
  height: 34px;
}
.service .card__item .card__item-text {
  width: 238px;
  height: 115px;
  margin-top: 30px;
  background: #282c30;
}
.service .card__item .card__item-text p:nth-child(1) {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 5px;
  color: #f9f9f9;
}
.service .card__item .card__item-text p:nth-child(2) {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #858b93;
}
.service .service__dashline {
  width: 100px;
  height: 1px;
  margin: 102px 30px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 525px;
  flex-shrink: 0;
  margin: 140px auto 0;
  background: #131517;
}

.task__text {
  height: 475px;
  background: #131517;
}
.task__text .task__text-title {
  max-width: 537px;
  height: 228px;
  background: #131517;
}
.task__text .task__text-title p:nth-child(1) {
  color: #f9f9f9;
  font-size: 4rem;
  width: 368px;
  margin-bottom: 22px;
  font-weight: 600;
}
.task__text .task__text-title p:nth-child(1) strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__text .task__text-title p:nth-child(2) {
  font-weight: 400;
  line-height: 2.6rem;
  height: 106px;
  color: #858b93;
}
.task__text .action-icon {
  display: block;
  text-align: center;
  margin-top: 76px;
}
.task__text .task__text-countdown {
  display: flex;
  justify-content: space-between;
  height: 160px;
  background: #131517;
}
.task__text .task__text-countdown .countdown__base {
  width: 132px;
  height: 127px;
  border-radius: 9px;
  background: #272633;
}
.task__text .task__text-countdown .countdown__base:nth-child(1) .countdown__base-text {
  text-align: center;
  margin: 21px 32px 26px;
  width: 68px;
  height: 80px;
}
.task__text .task__text-countdown .countdown__base:nth-child(1) .countdown__base-text p:nth-child(1) {
  font-size: 3rem;
  color: #f9f9f9;
  font-weight: 600;
  margin-bottom: 16px;
}
.task__text .task__text-countdown .countdown__base:nth-child(1) .countdown__base-text p:nth-child(2) {
  color: #858b93;
  font-weight: 400;
  line-height: 2.6rem;
}
.task__text .task__text-countdown .countdown__base:nth-child(2) {
  margin-top: 34px;
  background: linear-gradient(192deg, #c4f566 -43.72%, #ae8ef9 -5.87%, #ef8f00 52.36%, #61e559 122.78%);
}
.task__text .task__text-countdown .countdown__base:nth-child(2) .countdown__base-text {
  text-align: center;
  margin: 20px 35px 11px 36px;
  width: 61px;
  height: 96px;
}
.task__text .task__text-countdown .countdown__base:nth-child(2) .countdown__base-text p:nth-child(1) {
  font-size: 3rem;
  color: #f9f9f9;
  font-weight: 600;
  margin-bottom: 6px;
}
.task__text .task__text-countdown .countdown__base:nth-child(2) .countdown__base-text p:nth-child(2) {
  color: #f9f9f9;
  font-weight: 400;
  line-height: 2.6rem;
}
.task__text .task__text-countdown .countdown__base:nth-child(3) .countdown__base-text {
  text-align: center;
  margin: 21px 21px 26px;
  width: 89px;
  height: 80px;
}
.task__text .task__text-countdown .countdown__base:nth-child(3) .countdown__base-text p:nth-child(1) {
  font-size: 3rem;
  color: #f9f9f9;
  font-weight: 600;
  margin-bottom: 16px;
}
.task__text .task__text-countdown .countdown__base:nth-child(3) .countdown__base-text p:nth-child(2) {
  color: #858b93;
  font-weight: 400;
  line-height: 2.6rem;
}

.task__all {
  position: relative;
  background: #131517;
}
.task__all .task__child {
  display: flex;
  justify-content: flex-end;
  transform: rotate(11.592deg);
  position: relative;
}
.task__all .task__child:nth-child(2) {
  left: -43px;
}
.task__all .task__child-rectangle {
  margin: 5px;
  width: 151px;
  height: 201px;
  background: #191b1d;
}
.task__all .task__child-rectangle:nth-child(2), .task__all .task__child-rectangle:nth-child(5) {
  top: -70px;
  position: relative;
}
.task__all .excercise__btn {
  position: absolute;
  border-radius: 5px;
  background: #27292c;
  width: 199px;
  height: 55px;
  top: 0;
  right: 30px;
  z-index: 1;
}
.task__all .excercise__btn .excercise__btn-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 18px 11px 23px;
}
.task__all .excercise__btn .excercise__btn-child p {
  width: 88px;
  height: 18px;
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(90deg, #0cce84 3.45%, #ae8ef9 99.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__all .design__btn {
  position: absolute;
  border-radius: 5px;
  background: #27292c;
  width: 198px;
  height: 53px;
  bottom: 50px;
  right: 8px;
  z-index: 1;
}
.task__all .design__btn .design__btn-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 18px 11px 23px;
}
.task__all .design__btn .design__btn-child p {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__all .task__btn {
  position: absolute;
  border-radius: 5px;
  background: #27292c;
  left: -65px;
  bottom: 120px;
  width: 198px;
  height: 53px;
  z-index: 1;
}
.task__all .task__btn .task__btn-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 18px 11px 23px;
}
.task__all .task__btn .task__btn-child p {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__all .support__btn {
  position: absolute;
  border-radius: 5px;
  background: #27292c;
  width: 225px;
  height: 61px;
  top: 5px;
  left: -60px;
  z-index: 1;
}
.task__all .support__btn .support__btn-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 18px 11px 23px;
}
.task__all .support__btn .support__btn-child p {
  width: 111px;
  height: 18px;
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task__shape {
  position: relative;
  left: 28%;
  bottom: 5%;
  z-index: 1;
}
.task__shape .task__shape-child:nth-child(1) {
  position: absolute;
  width: 336px;
  height: 336px;
  border-radius: 336px;
  border: 2px dashed #2f2f2f;
  left: -60px;
  top: -60px;
}
.task__shape .task__shape-child:nth-child(2) {
  position: absolute;
  width: 455px;
  height: 455px;
  border-radius: 455px;
  border: 2px dashed #2f2f2f;
  left: -120px;
  top: -120px;
}

.features {
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 140px;
  background: #191b1d;
}

.task__chart {
  position: relative;
  width: 35%;
  height: 440px;
  background: #191b1d;
}
.task__chart .blur-shape {
  display: inline-block;
  margin: 64px 13px 55px 52px;
  width: 276px;
  height: 276px;
  border-radius: 267px;
  background: linear-gradient(180deg, #6aea5c 0%, #fd7566 48.53%, #ef8f00 100%);
  filter: blur(66px);
}
.task__chart .dash-line {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 294px;
  height: 378px;
}
.task__chart .time {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 40px;
  width: 324px;
  height: 24px;
}
.task__chart .time p {
  font-size: 1.4rem;
  opacity: 0.6;
  color: #f9f9f9;
}
.task__chart .wireframe-btn {
  position: absolute;
  width: 239px;
  height: 62px;
  right: -10px;
  top: 175px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.7);
}
.task__chart .wireframe-btn p {
  background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
  width: 203px;
  height: 24px;
  font-size: 1.4rem;
  margin: 19px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__chart .lending-btn {
  position: absolute;
  width: 220px;
  height: 62px;
  bottom: 120px;
  left: 15px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.7);
}
.task__chart .lending-btn p {
  width: 176px;
  height: 24px;
  font-size: 1.4rem;
  margin: 19px;
  background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__chart .ui-btn {
  position: absolute;
  display: flex;
  align-items: center;
  width: 203px;
  height: 62px;
  top: -20px;
  left: 12px;
  border-radius: 13px;
  background: rgba(0, 0, 0, 0.32);
}
.task__chart .ui-btn p {
  margin-top: 19px;
  margin-left: 16px;
  width: 105px;
  height: 24px;
  font-size: 1.4rem;
  background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task__chart .ui-btn img {
  margin-left: 20px;
}
.task__chart .union-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 65px;
  top: 100px;
  right: 177px;
}
.task__chart .union-btn img {
  fill: rgba(255, 255, 255, 0.36);
  backdrop-filter: blur(15px);
}
.task__chart .union-btn .union-text {
  margin: 8px 32px 25px 50px;
  text-align: center;
  position: absolute;
  color: #f9f9f9;
}
.task__chart .union-btn .union-text p:nth-child(1) {
  font-size: 1.4rem;
  margin-left: 16px;
  margin-bottom: 2px;
  width: 28px;
  height: 16px;
}
.task__chart .union-btn .union-text p:nth-child(2) {
  font-size: 1.2rem;
  width: 70px;
  height: 14px;
}

.features__content {
  width: 40%;
  height: 346px;
}
.features__content .features__content-title {
  width: 399px;
  height: 100px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  color: #f9f9f9;
}
.features__content .features__content-title strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features__content .features__content-details {
  width: 492px;
  height: 196px;
  margin-top: 50px;
  background: #191b1d;
}
.features__content .features__content-details .details__card-top {
  display: flex;
  justify-content: space-between;
  height: 87px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(1) {
  display: flex;
  width: 219px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(1) img {
  margin-right: 23px;
  margin-top: 3px;
  width: 20px;
  height: 19px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(1) .top__card-text p:nth-child(1) {
  width: 134px;
  height: 28px;
  font-size: 1.8rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 8px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(1) .top__card-text p:nth-child(2) {
  width: 176px;
  height: 51px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(2) {
  display: flex;
  width: 238px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(2) img {
  margin-right: 23px;
  margin-top: 3px;
  width: 20px;
  height: 19px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(2) .top__card-text p:nth-child(1) {
  width: 195px;
  height: 28px;
  font-size: 1.8rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 8px;
}
.features__content .features__content-details .details__card-top .top__card:nth-child(2) .top__card-text p:nth-child(2) {
  width: 176px;
  height: 51px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}
.features__content .features__content-details .details__card-bot {
  display: flex;
  margin-top: 22px;
  height: 87px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(1) {
  display: flex;
  width: 228px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(1) img {
  margin-right: 23px;
  margin-top: 3px;
  width: 20px;
  height: 19px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(1) .bot__card-text p:nth-child(1) {
  width: 185px;
  height: 28px;
  font-size: 1.8rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 8px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(1) .bot__card-text p:nth-child(2) {
  width: 176px;
  height: 51px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(2) {
  display: flex;
  margin-left: 26px;
  width: 219px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(2) img {
  margin-right: 23px;
  margin-top: 3px;
  width: 20px;
  height: 19px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(2) .bot__card-text p:nth-child(1) {
  width: 134px;
  height: 28px;
  font-size: 1.8rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 8px;
}
.features__content .features__content-details .details__card-bot .bot__card:nth-child(2) .bot__card-text p:nth-child(2) {
  width: 176px;
  height: 51px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}

.about {
  margin-top: 140px;
  height: 769px;
  background: #131517;
}
.about .about__head {
  margin-bottom: 75px;
  background: #131517;
}
.about .about__head .about__head-title {
  height: 100px;
  color: #f9f9f9;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  line-height: 5rem;
}
.about .about__head .about__head-title strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about__head .about__head-sub {
  height: 52px;
  margin-top: 30px;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: center;
  color: #858b93;
}
.about .about__head .about__head-btn {
  display: flex;
  justify-content: center;
  gap: 18px;
  height: 46px;
  margin-top: 44px;
  background: #131517;
}
.about .about__head .about__head-btn .btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 23px;
  width: 169px;
  height: 46px;
  background: #282c30;
  color: #858b93;
  font-size: 1.4rem;
}
.about .about__task {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 422px;
  background: #131517;
}
.about .about__task .about__task-wireframe {
  padding: 0 20px;
  height: 422px;
  border-radius: 19px;
  background: #191b1d;
}
.about .about__task .about__task-wireframe .wireframe__head {
  display: flex;
  height: 74px;
  margin-top: 46px;
  background: #191b1d;
}
.about .about__task .about__task-wireframe .wireframe__head p {
  font-weight: 600;
  line-height: 3.2rem;
  color: #f9f9f9;
  width: 231px;
  height: 64px;
  font-size: 2.2rem;
}
.about .about__task .about__task-wireframe .wireframe__head img {
  margin-left: 77px;
  width: 21px;
  height: 4px;
}
.about .about__task .about__task-wireframe .wireframe__body {
  height: 205px;
  margin-top: 40px;
  background: #191b1d;
}
.about .about__task .about__task-wireframe .wireframe__body .wireframe-btn {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  border-radius: 9px;
  width: 334px;
  height: 59px;
  background: #313539;
}
.about .about__task .about__task-wireframe .wireframe__body .wireframe-btn .wireframe-text {
  width: 110px;
  height: 30px;
  margin-right: 72px;
}
.about .about__task .about__task-wireframe .wireframe__body .wireframe-btn .wireframe-text p:nth-child(1) {
  font-size: 1.2rem;
  width: 109px;
  height: 15px;
  font-weight: 400;
  color: #f9f9f9;
}
.about .about__task .about__task-wireframe .wireframe__body .wireframe-btn .wireframe-text p:nth-child(2) {
  margin-top: 3px;
  font-size: 1rem;
  width: 42px;
  height: 13px;
  font-weight: 400;
  color: #91969e;
}
.about .about__task .about__task-wireframe .wireframe__body .wireframe-btn img:nth-child(1) {
  margin: 19px;
}
.about .about__task .about__task-wireframe .wireframe__body .fidelity-btn {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  border-radius: 9px;
  width: 334px;
  height: 59px;
  border: 1px solid #282b2e;
  background: #191b1d;
}
.about .about__task .about__task-wireframe .wireframe__body .fidelity-btn .fidelity-text {
  width: 110px;
  height: 30px;
  margin-right: 72px;
}
.about .about__task .about__task-wireframe .wireframe__body .fidelity-btn .fidelity-text p:nth-child(1) {
  font-size: 1.2rem;
  width: 65px;
  height: 15px;
  font-weight: 400;
  color: #f9f9f9;
  opacity: 0.67;
}
.about .about__task .about__task-wireframe .wireframe__body .fidelity-btn .fidelity-text p:nth-child(2) {
  margin-top: 4px;
  font-size: 1rem;
  width: 42px;
  height: 13px;
  font-weight: 400;
  color: #91969e;
  opacity: 0.6;
}
.about .about__task .about__task-wireframe .wireframe__body .fidelity-btn img:nth-child(1) {
  margin: 19px;
}
.about .about__task .about__task-wireframe .wireframe__body .build-btn {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  border-radius: 9px;
  width: 334px;
  height: 59px;
  border: 1px solid #282b2e;
  background: #191b1d;
}
.about .about__task .about__task-wireframe .wireframe__body .build-btn .build-text {
  width: 110px;
  height: 30px;
  margin-right: 72px;
}
.about .about__task .about__task-wireframe .wireframe__body .build-btn .build-text p:nth-child(1) {
  font-size: 1.2rem;
  width: 109px;
  height: 15px;
  font-weight: 400;
  color: #f9f9f9;
  opacity: 0.67;
}
.about .about__task .about__task-wireframe .wireframe__body .build-btn .build-text p:nth-child(2) {
  margin-top: 4px;
  font-size: 1rem;
  width: 42px;
  height: 13px;
  font-weight: 400;
  color: #91969e;
  opacity: 0.6;
}
.about .about__task .about__task-wireframe .wireframe__body .build-btn img:nth-child(1) {
  margin: 19px;
}
.about .about__task .about__task-daily {
  height: 422px;
  border-radius: 19px;
  background: #131517;
}
.about .about__task .about__task-daily .point__card {
  height: 170px;
  border-radius: 19px;
  background: #191b1d;
}
.about .about__task .about__task-daily .point__card .point__card-head {
  position: relative;
  top: 28px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.about .about__task .about__task-daily .point__card .point__card-head .card__head-text p:nth-child(1) {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 2.2rem;
  color: #f9f9f9;
}
.about .about__task .about__task-daily .point__card .point__card-head .card__head-text p:nth-child(2) {
  color: #424b55;
}
.about .about__task .about__task-daily .point__card .point__card-bot {
  width: 300px;
  height: 20px;
  margin-left: 47px;
  display: flex;
  justify-content: space-between;
}
.about .about__task .about__task-daily .point__card .point__card-bot img {
  width: 238px;
  height: 17px;
}
.about .about__task .about__task-daily .point__card .point__card-bot p {
  font-weight: 400;
  color: #8b8b8f;
}
.about .about__task .about__task-daily .task__card {
  display: flex;
  margin-top: 15px;
  height: 230px;
  border-radius: 19px;
  background: #191b1d;
}
.about .about__task .about__task-daily .task__card .task__card-right {
  width: 210px;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-weddit {
  position: relative;
  right: 20px;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-head {
  display: flex;
  margin: 26px 34px 4px 0px;
  justify-content: space-between;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-head img {
  position: relative;
  top: -15px;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-head p {
  font-size: 2.2rem;
  color: #f9f9f9;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-body {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  margin-right: 42px;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-body p {
  font-size: 1.4rem;
  color: #d0d1d2;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-bot {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-bot p:nth-child(1) {
  font-size: 1.4rem;
  color: #0cce84;
}
.about .about__task .about__task-daily .task__card .task__card-right .card__right-bot p:nth-child(2) {
  font-size: 1.4rem;
  color: #ff7667;
}
.about .about__task .about__task-team {
  padding: 12px 20px;
  border-radius: 19px;
  background: #191b1d;
}
.about .about__task .about__task-team .team__card-top {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about .about__task .about__task-team .team__card-top p {
  font-size: 2.2rem;
  color: #f9f9f9;
  font-weight: 600;
}
.about .about__task .about__task-team .team__card-body {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about .about__task .about__task-team .team__card-body img {
  margin-right: 9px;
}
.about .about__task .about__task-team .team__card-body p {
  opacity: 0.8;
  color: #f9f9f9;
  font-size: 1.2rem;
}
.about .about__task .about__task-team .team__card-bot {
  margin-top: 32px;
}
.about .about__task .about__task-team .team__card-bot .btn {
  cursor: pointer;
  padding: 11px 34px;
  background: #ef8f00;
  border-radius: 7px;
  font-size: 1.2rem;
  color: #f9f9f9;
}

.featsub .featsub__head {
  display: flex;
  justify-content: space-evenly;
  margin-top: 140px;
  align-items: center;
}
.featsub .featsub__head .feat__head-title {
  height: 150px;
  color: #f9f9f9;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}
.featsub .featsub__head .feat__head-title strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featsub .featsub__head .feat__head-btn button {
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #36383e;
  padding: 25px 50px;
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featsub .featsub__content {
  height: 561px;
  margin-top: 23px;
  gap: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featsub .featsub__content .featsub__content-left {
  width: 35%;
  height: 506px;
}
.featsub .featsub__content .featsub__content-left .left__child {
  height: 158px;
  border-radius: 15px;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(1) {
  margin-bottom: 16px;
  background: #282c30;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(1) p {
  display: inline-block;
  margin-left: 40px;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(1) p:nth-child(1) {
  margin-top: 29px;
  margin-bottom: 9px;
  font-size: 2.8rem;
  font-weight: 600;
  color: #f9f9f9;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(1) p:nth-child(2) {
  width: 388px;
  height: 48px;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(2), .featsub .featsub__content .featsub__content-left .left__child:nth-child(3) {
  margin-bottom: 16px;
  border: 2px solid #282c30;
  border-radius: 15px;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(2) p, .featsub .featsub__content .featsub__content-left .left__child:nth-child(3) p {
  display: inline-block;
  margin-left: 40px;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(2) p:nth-child(1), .featsub .featsub__content .featsub__content-left .left__child:nth-child(3) p:nth-child(1) {
  margin-top: 29px;
  margin-bottom: 9px;
  font-size: 2.8rem;
  font-weight: 600;
  color: #f9f9f9;
}
.featsub .featsub__content .featsub__content-left .left__child:nth-child(2) p:nth-child(2), .featsub .featsub__content .featsub__content-left .left__child:nth-child(3) p:nth-child(2) {
  width: 388px;
  height: 48px;
  font-weight: 400;
  line-height: 2.4rem;
  color: #858b93;
}
.featsub .featsub__content .featsub__content-right {
  width: 548px;
  height: 615px;
}
.featsub .featsub__content .featsub__content-right img {
  position: relative;
  width: 348px;
  height: 275px;
  border-radius: 31px;
  object-fit: none;
}
.featsub .featsub__content .featsub__content-right img:nth-child(2) {
  position: relative;
  top: -120px;
  margin-left: 200px;
}
.featsub .featsub__content .featsub__content-right img:nth-child(3) {
  position: relative;
  bottom: 200px;
  margin-left: 25px;
}

.blog {
  margin-top: 140px;
}
.blog .blog__title {
  font-size: 4rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
}
.blog .blog__title strong {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blog .blog__content {
  height: 500px;
  margin-top: 56px;
  gap: 26px;
  display: flex;
  justify-content: center;
}
.blog .blog__content .blog__content-child {
  max-width: 350px;
  padding: 20px;
  height: 500px;
  background: #282c30;
  border-radius: 12px;
}
.blog .blog__content .blog__content-child .child__btn {
  position: relative;
  margin: 0 auto;
  bottom: 15%;
  width: 139px;
  height: 36px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(54.5px);
  font-size: 1.2rem;
  color: #f9f9f9;
}
.blog .blog__content .blog__content-child .child__btn p {
  display: inline-block;
  margin: 9px 16px;
}
.blog .blog__content .blog__content-child .child__text {
  display: flex;
  justify-content: center;
  height: 78px;
  color: #f9f9f9;
  text-align: center;
  font-weight: 400;
  line-height: 2.6rem;
}
.blog .blog__content .blog__content-child .child__text p {
  width: 190px;
}
.blog .blog__content .blog__content-child .child__process {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.blog .blog__content .blog__content-child .child__view {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 20px;
}
.blog .blog__content .blog__content-child .child__view p {
  color: #858b93;
  font-size: 1.2rem;
  margin-right: 7px;
  opacity: 0.6;
}

.testmonial {
  margin-top: 140px;
}
.testmonial .testmonial__main {
  height: 371px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.testmonial .testmonial__main .testmonial__content {
  padding: 0 20px;
  height: 308px;
  border-radius: 10px;
  border: 1px solid #282c30;
}
.testmonial .testmonial__main .testmonial__content.action {
  background: #282c30;
}
.testmonial .testmonial__main .testmonial__content.action .testmonial__content-main p {
  font-weight: 400;
  line-height: 2.6rem;
  color: #bcc6d0;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-main {
  margin-top: 20px;
  width: 304px;
  height: 119px;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-main p {
  font-weight: 400;
  line-height: 2.6rem;
  color: #858b93;
  opacity: 0.8;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-commna {
  margin-top: 30px;
  text-align: end;
  padding-right: 50px;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-footer {
  height: 52px;
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-footer .footer__text p:nth-child(1) {
  font-weight: 600;
  font-size: 1.8rem;
  color: #f9f9f9;
}
.testmonial .testmonial__main .testmonial__content .testmonial__content-footer .footer__text p:nth-child(2) {
  font-weight: 400;
  color: #858b93;
}
.testmonial .testmonial__leftright {
  position: absolute;
  right: 15%;
  height: 13px;
}

.footer {
  margin-top: 140px;
  background: #0d1012;
}
.footer .footer__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
}
.footer .footer__head .footer__head-action {
  display: flex;
  align-items: center;
  gap: 54px;
}
.footer .footer__head .footer__head-text {
  font-size: 2.2rem;
  color: #858b93;
}
.footer .footer__head .footer__head-btn button {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 15px 35px;
  border-radius: 9px;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  color: #f9f9f9;
}
.footer .footer__hline {
  position: absolute;
  left: 10%;
  margin-top: 20px;
}
.footer .footer__bot {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.footer .footer__bot .footer__bot-sub {
  width: 30%;
  height: 210px;
}
.footer .footer__bot .footer__bot-sub .sub__title {
  margin-bottom: 44px;
  font-weight: 600;
  line-height: 3.2rem;
  font-size: 2.2rem;
  color: #f9f9f9;
}
.footer .footer__bot .footer__bot-sub .sub__email {
  display: flex;
  align-items: center;
  width: 307px;
  height: 51px;
  border-radius: 26px;
  border: 1px solid #272633;
}
.footer .footer__bot .footer__bot-sub .sub__email p {
  font-size: 1.4rem;
  color: #858b93;
  margin-left: 25px;
  margin-right: 104px;
}
.footer .footer__bot .footer__bot-sub .sub__icon {
  margin-top: 45px;
}
.footer .footer__bot .footer__bot-about {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  height: 286px;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(1) {
  width: 148px;
  height: 206px;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(1) p:nth-child(1) {
  margin-bottom: 22px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #f9f9f9;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(1) p:nth-child(2) {
  width: 148px;
  height: 152px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.8rem;
  opacity: 0.6;
  color: #858b93;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(2) {
  width: 89px;
  height: 206px;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(2) p:nth-child(1) {
  margin-bottom: 22px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #f9f9f9;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(2) p:nth-child(2) {
  height: 152px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.8rem;
  opacity: 0.6;
  color: #858b93;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(3) {
  width: 103px;
  height: 130px;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(3) p:nth-child(1) {
  margin-bottom: 22px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #f9f9f9;
}
.footer .footer__bot .footer__bot-about .about__content:nth-child(3) p:nth-child(2) {
  height: 76px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.8rem;
  opacity: 0.6;
  color: #858b93;
}

.header__menu {
  display: none;
}

@media (max-width: 376px) {
  .header__top .header__menu {
    display: block;
  }
  .header__top .header__navigation {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
