html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Sora, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1400px;
  height: 7007px;
  background: #131517;
}

.header {
  display: inline-block;
  width: 1144px;
  height: 1138px;
  margin: 40px 128px;
  background-color: #131517;
}

.header__top {
  display: flex;
  width: 1144px;
  height: 40px;
  background-color: #131517;
}
.header__top .header__top-logo {
  margin-right: 274px;
  width: 87px;
  height: 19px;
}
.header__top .header__top-navigation {
  display: flex;
  width: 372px;
  height: 24px;
  margin-right: 302px;
  background-color: #131517;
}
.header__top .header__top-navigation .nav-item {
  color: #858B93;
  margin-top: 10px;
  margin-right: 36px;
}
.header__top .header__top-navigation .nav-item:nth-child(1) {
  position: relative;
  color: #f9f9f9;
}
.header__top .header__top-navigation .nav-item:nth-child(1)::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 15px;
  width: 15px;
  height: 1px;
  background: #83E868;
}
.header__top .header__top-action {
  width: 100px;
  height: 40px;
  border: 1px solid #131517;
  border-radius: 8px;
  background-color: #131517;
}
.header__top .header__top-action .action-item {
  width: 57px;
  height: 24px;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 8px 26px;
  background: linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__title {
  margin: 150px 180px 0px;
  width: 783px;
  background: #131517;
}
.header__title h1 {
  color: #f9f9f9;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
}
.header__title strong {
  background: linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__sub {
  width: 447px;
  margin: 34px 348px 0px;
  background: #131517;
}
.header__sub .sub-item {
  color: #858B93;
  text-align: center;
  font-weight: 400;
  line-height: 2.6rem;
}

.header__info {
  display: flex;
  justify-content: space-between;
  width: 420px;
  height: 54px;
  margin: 44px 362px 0px;
  background: #131517;
}
.header__info .info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 54px;
  border-radius: 8px;
  background: #282C30;
}
.header__info .info-btn p {
  color: #f9f9f9;
  font-weight: 400;
  line-height: 2.6rem;
}
.header__info .info-btn:nth-child(1) {
  background: linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);
}

.header__bottom {
  position: relative;
  margin: 111px 115px 145px 105px;
  width: 925px;
  height: 512px;
  border-radius: 8px 8px 0px 0px;
  background: #131517;
}
.header__bottom .bottom-dashboard {
  position: relative;
  margin-left: 75px;
  width: 848px;
  height: 366px;
  background: #1F2326;
}
.header__bottom .bottom-dashboard .dashboard-main {
  position: absolute;
  margin: 28px 15px 0px 192px;
  top: 1px;
  width: 641px;
  height: 338px;
  background: #0D1012;
}
.header__bottom .bottom-dashboard .dashboard-top {
  display: flex;
  justify-content: space-between;
  margin: 25px 29px 290px 140px;
  width: 472px;
  height: 22px;
  background-color: #0D1012;
}
.header__bottom .bottom-dashboard .dashboard-top .top-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 22px;
}
.header__bottom .bottom-dashboard .dashboard-top .top-start p {
  color: #f9f9f9;
  font-size: 1.4rem;
}
.header__bottom .bottom-dashboard .dashboard-top .top-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 29px;
  width: 112px;
  height: 20px;
}
.header__bottom .bottom-dashboard .dashboard-top .top-end img:nth-child(1) {
  width: 10px;
  height: 2px;
}
.header__bottom .bottom-dashboard .dashboard-subtop {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1px;
  margin: 56px 123px 262px 340px;
  width: 180px;
  height: 20px;
  background-color: #0D1012;
}
.header__bottom .bottom-dashboard .dashboard-subtop .subtop-start {
  display: flex;
  align-items: center;
  width: 45px;
  height: 15px;
}
.header__bottom .bottom-dashboard .dashboard-subtop .subtop-start p {
  font-size: 1.2rem;
  color: #838386;
  margin-left: 8px;
}
.header__bottom .bottom-dashboard .dashboard-subtop .subtop-end {
  font-size: 1.4rem;
  color: #f9f9f9;
  width: 73px;
  height: 18px;
}
.header__bottom .bottom-dashboard .dashboard-content {
  display: flex;
  position: absolute;
  bottom: 1px;
  margin: 82px 30px 26px 30px;
  width: 582px;
  height: 230px;
  background-color: #0D1012;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list {
  width: 362px;
  height: 230px;
  background: #0D1012;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item {
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 362px;
  height: 30px;
  background-color: #14181B;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item img {
  width: 14px;
  height: 14px;
  margin: 8px 60px 8px 14px;
}
.header__bottom .bottom-dashboard .dashboard-content .content-list .list-item .li-content {
  width: 200px;
  height: 13px;
  margin-top: 8px;
  font-weight: 300;
  font-size: 1rem;
  background: #14181B;
  color: #9EA1A7;
}
.header__bottom .bottom-dashboard .dashboard-content .content-image {
  position: relative;
  display: flex;
  margin: 1px 0px 11px 53px;
  border-radius: 17px;
  width: 167px;
  height: 218px;
  background: #08cc12;
}
.header__bottom .bottom-dashboard .dashboard-content .content-image img:nth-child(2) {
  position: absolute;
  margin: 90px 65px;
  width: 37px;
  height: 37px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar {
  position: absolute;
  top: 1px;
  margin: 18px 0px 217px 0px;
  width: 192px;
  height: 132px;
  background: #1F2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  width: 130px;
  height: 20px;
  background: #1F2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top img {
  width: 10px;
  height: 10px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-top p {
  text-align: center;
  color: #98989C;
  font-size: 1.4rem;
  width: 80px;
  height: 18px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-title {
  color: #f9f9f9;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 16px;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 192px;
  height: 39px;
  background: #2B2D2F;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body span {
  display: inline-block;
  border-radius: 5px;
  margin-left: 16px;
  width: 17px;
  height: 17px;
  background: #AE8FF9;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-body p {
  margin-top: 5px;
  margin-left: 12px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #D5D5D6;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom {
  display: flex;
  align-items: center;
  width: 192px;
  height: 39px;
  background: #1F2326;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom span {
  display: inline-block;
  border-radius: 5px;
  margin-left: 16px;
  width: 17px;
  height: 17px;
  background: #FF7667;
}
.header__bottom .bottom-dashboard .dashboard-sidebar .sidebar-bottom p {
  margin-top: 5px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.6;
  color: #858B93;
}
.header__bottom .bottom-collection {
  position: absolute;
  bottom: 1px;
  border-radius: 15px 15px 22px 22px;
  margin-top: 177px;
  width: 216px;
  height: 335px;
  background: #0D1012;
}
.header__bottom .bottom-collection .collection-title {
  display: flex;
  margin-top: 25px;
  margin-bottom: 14px;
  align-items: center;
  width: 200px;
  height: 20px;
  background: #0D1012;
}
.header__bottom .bottom-collection .collection-title img {
  width: 17px;
  height: 3px;
}
.header__bottom .bottom-collection .collection-title p {
  margin-left: 25px;
  color: #f9f9f9;
  font-size: 1.4rem;
  width: 84px;
  height: 18px;
  margin-right: 65px;
}
.header__bottom .bottom-collection .collection__content-top {
  margin-bottom: 7px;
  margin-left: 15px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181B;
}
.header__bottom .bottom-collection .collection__content-top .top-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-top span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #FF7667;
}
.header__bottom .bottom-collection .collection__content-top .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-top .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-top .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858B93;
}
.header__bottom .bottom-collection .collection__content-top .top-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-top .top-process p {
  font-size: 1rem;
  color: #858B93;
  margin-left: 8px;
}
.header__bottom .bottom-collection .collection__content-body {
  margin-bottom: 7px;
  margin-left: 15px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181B;
}
.header__bottom .bottom-collection .collection__content-body .body-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-body span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #AE8FF9;
}
.header__bottom .bottom-collection .collection__content-body .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-body .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-body .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858B93;
}
.header__bottom .bottom-collection .collection__content-body .body-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-body .body-process p {
  font-size: 1rem;
  color: #858B93;
  margin-left: 8px;
}
.header__bottom .bottom-collection .collection__content-bottom {
  margin-bottom: 7px;
  margin-left: 15px;
  width: 188px;
  height: 78px;
  border-radius: 13px;
  background: #14181B;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-group {
  display: flex;
}
.header__bottom .bottom-collection .collection__content-bottom span {
  display: inline-block;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  margin: 12px 10px 16px 12px;
  background: #0CCE84;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title {
  margin-top: 13px;
  width: 110px;
  height: 31px;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title p:nth-child(1) {
  width: 51px;
  height: 18px;
  font-size: 1.4rem;
  color: #f9f9f9;
}
.header__bottom .bottom-collection .collection__content-bottom .content-title p:nth-child(2) {
  width: 110px;
  height: 13px;
  font-size: 1rem;
  color: #858B93;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-process {
  margin-right: 13px;
  margin-left: 13px;
  display: flex;
}
.header__bottom .bottom-collection .collection__content-bottom .bottom-process p {
  font-size: 1rem;
  color: #858B93;
  margin-left: 8px;
}

.service {
  margin: 100px 152px;
  width: 1096px;
  height: 331px;
  border-radius: 27px;
  background: #282C30;
}
.service .service__card {
  display: inline-block;
  width: 996px;
  height: 207px;
  margin: 71px 50px 53px;
  background: #08cc12;
}

/*# sourceMappingURL=main.css.map */
