// ===== reponsive

.header__menu {
  display: none;
}

@media (max-width: 376px) {
  .header__top {
    .header__menu {
      display: block;
    }

    .header__navigation {
      display: none;
    }
  }
}
